# Python cache files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/

# Dataset directory (ignored to avoid large files in the repository)
Dataset/

# Ignore specific file types
*.csv
*.zip
*.log
*.json

# IDE configuration files
.vscode/
.idea/

# macOS system files
.DS_Store

# Temporary and backup files
*.tmp
*.swp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled binary files
*.so
*.o
*.a
*.out

# Do not ignore specific important files
!important_file.csv

